.message-counter {
    font-family: 'Inter';
    font-size: 14px;
    opacity: 50%;
    position:relative;  
    margin-left: 30px;
}

.readability-measure-score {
    position:relative;
    font-family: 'Inter';
    font-size: 14px;
    margin-left: 30%;
    opacity: 50%;
}